# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*$py.class
*.so
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual environments
.venv/
venv/
env/
ENV/

# IDE
.idea/

# PyTorch checkpoints

# Datasets
Merged/data_merged/
KDEF/data_split/
MMA/data_mma/

*.egg-info/


# Jupyter Notebook
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db


# Ignore the build metadata
build/
*.spec

# Ignore the heavy library guts inside dist
dist/_internal/

# Keep the executable and the research data
!dist/inference_webcam/inference_webcam.exe
!dist/inference_webcam/screenshots/
!dist/inference_webcam/research_analytics_log.csv