# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*$py.class
*.so
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual environments
.venv/
venv/
env/
ENV/

# IDE
.idea/

# PyTorch checkpoints
Merged/checkpoints/
*.pt
*.pth

# Datasets
Merged/data_merged/
KDEF/data_split/
MMA/data_mma/

# Distribution / packaging
*.egg-info/
dist/
build/

# Jupyter Notebook
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
